@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");

html {
  background: linear-gradient(
    90deg,
    rgba(48, 48, 48, 1) 0%,
    rgba(31, 31, 42, 1) 100%
  );
  color: rgb(176, 175, 175);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Unbounded", cursive;
}

/* --- Header --- */
.nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav a {
  float: left;
  color: #b3b3b3;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #979797;
  color: black;
}

/* --- Animation --- */
.animation {
  height: 600px;
  text-align: center;
  font-size: 50px;
  padding-top: 20%;
}

.line-1 {
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 1s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 200, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* --- Contenu --- */
.title {
  padding-left: 10%;
  padding-top: 5%;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.content-text {
  padding-left: 10%;
  padding-top: 4%;
  font-size: 20px;
}
.content {
  padding-left: 10%;
  padding-top: 4%;
  font-size: 20px;
}

.content-subtitle {
  padding-left: 10%;
  padding-top: 5%;
  font-size: 30px;
  color: rgb(139, 199, 252);
}
.img {
  padding-left: 2%;
  padding-right: 2%;
}
.formations {
  font-size: 25px;
  background-color: green;
}
