@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

html{
    background: linear-gradient(to bottom, #202020, #111119);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Unbounded', cursive;
}

.title-div{
    height: 700px;
}
.title-h1{
    text-align: center;
    padding-top: 20%;
    font-size: 100px;
    color: white;
}
.content{
    color: white;
    padding-left: 20%;
    padding-top: 8%;
    font-size: 40px;
}
.content2{
    color: white;
    padding-left: 20%;
    padding-top: 4%;
    font-size: 20px;
}